@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: gray;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 14px;
}
